# Video Games Analysis 

## Understanding


Video games are big business: the global gaming market is projected to be worth more than $300 billion by 2027 according to Mordor Intelligence. 

Video games getting better, or has the golden age of video games already passed?

In this project, I'll explore the top 400 best-selling video games created between 1977 and 2020. 

I'll compare a dataset on game sales with critic and user reviews to determine whether or not video games have improved as the gaming market has grown.

The first line of code connects us to the database where the all table is residing

In [1]:
%%sql
postgresql:///games

'Connected: @games'

Looking at all tables we have, so it will good understanding of tables

game_sales Table

In [10]:
%%sql
select *
from game_sales
order by game desc
limit 10;

 * postgresql:///games
10 rows affected.

[('Zelda II: The Adventure of Link for NES', 'NES', 'Nintendo', 'Nintendo EAD', Decimal('4.38'), 1988),
 ('Yokai Watch 2: Bony Spirits / Fleshy Souls / Psychic Specters for 3DS', '3DS', 'Nintendo', 'Level 5', Decimal('7.29'), 2016),
 ('World Soccer Winning Eleven 9 for PS2', 'PS2', 'Konami', 'Konami Computer Entertainment Tokyo', Decimal('4.06'), 2006),
 ('World of Warcraft: Wrath of the Lich King for PC', 'PC', 'Blizzard Entertainment', 'Blizzard Entertainment', Decimal('4.00'), 2008),
 ('World of Warcraft for PC', 'PC', 'Blizzard Entertainment', 'Blizzard Entertainment', Decimal('12.00'), 2004),
 ('World of Warcraft: Cataclysm for PC', 'PC', 'Blizzard Entertainment', 'Blizzard Entertainment', Decimal('4.70'), 2010),
 ('Winning Eleven: Pro Evolution Soccer 2007 for PS2', 'PS2', 'Konami', 'Konami Computer Entertainment Tokyo', Decimal('4.39'), 2007),
 ('Wii Sports Resort for Wii', 'Wii', 'Nintendo', 'Nintendo EAD', Decimal('33.13'), 2009),
 ('Wii Sports for Wii', 'Wii', 'Nintendo', 'Nintendo EAD', Decimal('82.90'), 2006),
 ('Wii Play for Wii', 'Wii', 'Nintendo', 'Nintendo EAD', Decimal('28.02'), 2007)]

reviews Table

In [8]:
%%sql
select *
from reviews
order by game desc
limit 10;

 * postgresql:///games
10 rows affected.

[('World Soccer Winning Eleven 9 for PS2', Decimal('8.90'), None),
 ('World Soccer Winning Eleven 8 International for PS2', Decimal('9.30'), None),
 ('World of Warcraft: Wrath of the Lich King for PC', Decimal('9.30'), Decimal('9.30')),
 ('World of Warcraft for PC', Decimal('9.20'), Decimal('8.00')),
 ('World of Warcraft: Cataclysm for PC', Decimal('9.00'), None),
 ('Winning Eleven: Pro Evolution Soccer 2007 for PS2', Decimal('8.80'), None),
 ('Wii Sports Resort for Wii', Decimal('8.00'), Decimal('8.80')),
 ('Wii Sports for Wii', Decimal('7.70'), Decimal('8.00')),
 ('Wii Play for Wii', Decimal('5.90'), Decimal('6.50')),
 ('Wii Party for Wii', Decimal('7.00'), None)]

top_critic_years Table

In [16]:
%%sql
select *
from top_critic_years;

 * postgresql:///games
10 rows affected.

[(1990, Decimal('9.80')),
 (1992, Decimal('9.67')),
 (1998, Decimal('9.32')),
 (2020, Decimal('9.20')),
 (1993, Decimal('9.10')),
 (1995, Decimal('9.07')),
 (2004, Decimal('9.03')),
 (1982, Decimal('9.00')),
 (2002, Decimal('8.99')),
 (1999, Decimal('8.93'))]

top_critic_years_more_than_four_games Table

In [18]:
%%sql

select *
from top_critic_years_more_than_four_games;

 * postgresql:///games
10 rows affected.

[(1998, 10, Decimal('9.32')),
 (2004, 11, Decimal('9.03')),
 (2002, 9, Decimal('8.99')),
 (1999, 11, Decimal('8.93')),
 (2001, 13, Decimal('8.82')),
 (2011, 26, Decimal('8.76')),
 (2016, 13, Decimal('8.67')),
 (2013, 18, Decimal('8.66')),
 (2008, 20, Decimal('8.63')),
 (2017, 13, Decimal('8.62'))]

top_user_years_more_than_four_games Table

In [22]:
%%sql 

select *
from top_user_years_more_than_four_games;

 * postgresql:///games
10 rows affected.

[(1997, 8, Decimal('9.50')),
 (1998, 10, Decimal('9.40')),
 (2010, 23, Decimal('9.24')),
 (2009, 20, Decimal('9.18')),
 (2008, 20, Decimal('9.03')),
 (1996, 5, Decimal('9.00')),
 (2005, 13, Decimal('8.95')),
 (2006, 16, Decimal('8.95')),
 (2000, 8, Decimal('8.80')),
 (2002, 9, Decimal('8.80'))]

## 1. The ten best-selling video games

In [11]:
%%sql
select *
from game_sales
order by games_sold desc
limit 10;

 * postgresql:///games
10 rows affected.

[('Wii Sports for Wii', 'Wii', 'Nintendo', 'Nintendo EAD', Decimal('82.90'), 2006),
 ('Super Mario Bros. for NES', 'NES', 'Nintendo', 'Nintendo EAD', Decimal('40.24'), 1985),
 ('Counter-Strike: Global Offensive for PC', 'PC', 'Valve', 'Valve Corporation', Decimal('40.00'), 2012),
 ('Mario Kart Wii for Wii', 'Wii', 'Nintendo', 'Nintendo EAD', Decimal('37.32'), 2008),
 ("PLAYERUNKNOWN'S BATTLEGROUNDS for PC", 'PC', 'PUBG Corporation', 'PUBG Corporation', Decimal('36.60'), 2017),
 ('Minecraft for PC', 'PC', 'Mojang', 'Mojang AB', Decimal('33.15'), 2010),
 ('Wii Sports Resort for Wii', 'Wii', 'Nintendo', 'Nintendo EAD', Decimal('33.13'), 2009),
 ('Pokemon Red / Green / Blue Version for GB', 'GB', 'Nintendo', 'Game Freak', Decimal('31.38'), 1998),
 ('New Super Mario Bros. for DS', 'DS', 'Nintendo', 'Nintendo EAD', Decimal('30.80'), 2006),
 ('New Super Mario Bros. Wii for Wii', 'Wii', 'Nintendo', 'Nintendo EAD', Decimal('30.30'), 2009)]

the best-selling video games were released between 1985 to 2017! 
That's quite a range; 

we'll have to use data from the reviews table to gain more insight on the best years for video games.

## 2. Missing review scores


First, it's important to explore the limitations of our database.

One big shortcoming is that there is not any reviews data for some of the games on the game_sales table.

In [12]:
%%sql 

-- Join games_sales and reviews
-- Select a count of the number of games where both critic_score and user_score are null

select count(*) 
from game_sales
left join reviews
using(game)
where critic_score is null and user_score is null;

 * postgresql:///games
1 rows affected.

[(31,)]

It looks like a little less than ten percent of the games on the game_sales table don't have any reviews data. 

That's a small enough percentage that we can continue our exploration, 

but the missing reviews data is a good thing to keep in mind as we move on to evaluating results from more sophisticated queries.

## 3. Years that video game critics loved

There are lots of ways to measure the best years for video games! 

Let's start with what the critics think.

In [14]:
%%sql

select year, round(avg(critic_score),2) as avg_critic_score
from game_sales 
inner join reviews 
using(game)
group by year
order by avg_critic_score desc
limit 10;

 * postgresql:///games
10 rows affected.

[(1990, Decimal('9.80')),
 (1992, Decimal('9.67')),
 (1998, Decimal('9.32')),
 (2020, Decimal('9.20')),
 (1993, Decimal('9.10')),
 (1995, Decimal('9.07')),
 (2004, Decimal('9.03')),
 (1982, Decimal('9.00')),
 (2002, Decimal('8.99')),
 (1999, Decimal('8.93'))]


The range of great years according to critic reviews goes from 1982 until 2020: 

we are no closer to finding the golden age of video games!

Some of those avg_critic_score values look like suspiciously round numbers for averages. 

The value for 1982 looks especially fishy. 

Maybe there weren't a lot of video games in our dataset that were released in certain years.

Let's update our query and find out whether 1982 really was such a great year for video games.

## 4. Was 1982 really that great?

In [15]:
%%sql 

select g.year,count(g.game) as num_games, round(avg(r.critic_score),2) as avg_critic_score
from game_sales as g
inner join reviews as r
using(game)
group by year
having count(g.game) > 4
order by avg_critic_score desc
limit 10;

 * postgresql:///games
10 rows affected.

[(1998, 10, Decimal('9.32')),
 (2004, 11, Decimal('9.03')),
 (2002, 9, Decimal('8.99')),
 (1999, 11, Decimal('8.93')),
 (2001, 13, Decimal('8.82')),
 (2011, 26, Decimal('8.76')),
 (2016, 13, Decimal('8.67')),
 (2013, 18, Decimal('8.66')),
 (2008, 20, Decimal('8.63')),
 (2012, 12, Decimal('8.62'))]

That looks better! 

The num_games column convinces us that our new list of the critics' top games reflects years that had quite a few well-reviewed games rather than just one or two hits. 

But which years dropped off the list due to having four or fewer reviewed games? 

Let's identify them so that someday we can track down more game reviews for those years and determine whether they might rightfully be considered as excellent years for video game releases!

we've tables with the results of our previous two queries.

## 5. Years that dropped off the critics' favorites list

In [19]:
%%sql 

select year, avg_critic_score from top_critic_years

except

select year, avg_critic_score from top_critic_years_more_than_four_games

order by avg_critic_score desc;

 * postgresql:///games
6 rows affected.

[(1990, Decimal('9.80')),
 (1992, Decimal('9.67')),
 (2020, Decimal('9.20')),
 (1993, Decimal('9.10')),
 (1995, Decimal('9.07')),
 (1982, Decimal('9.00'))]

The EXCEPT operator returns all the rows from the first query that are not present in the second query.

Based on our work in the task above, it looks like the early 1990s might merit consideration as the golden age of video games based on critic_score alone, but we'd need to gather more games and reviews data to do further analysis.


## 6. Years video game players loved 

Let's move on to looking at the opinions of another important group of people: players! To begin, let's create a query , except this one will look at user_score averages by year rather than critic_score averages.

In [20]:
%%sql 


select g.year,count(g.game) as num_games, round(avg(r.user_score),2) as avg_user_score
from game_sales as g
inner join reviews as r
using(game)
group by year
having count(g.game) > 4
order by avg_user_score desc
limit 10;

 * postgresql:///games
10 rows affected.

[(1997, 8, Decimal('9.50')),
 (1998, 10, Decimal('9.40')),
 (2010, 23, Decimal('9.24')),
 (2009, 20, Decimal('9.18')),
 (2008, 20, Decimal('9.03')),
 (1996, 5, Decimal('9.00')),
 (2005, 13, Decimal('8.95')),
 (2006, 16, Decimal('8.95')),
 (2000, 8, Decimal('8.80')),
 (1999, 11, Decimal('8.80'))]

Alright, we've got a list of the top ten years according to both critic reviews and user reviews. 

Are there any years that showed up on both tables? If so, those years would certainly be excellent ones!

## 7. Years that both players and critics loved

In [23]:
%%sql 

select year from top_critic_years_more_than_four_games

intersect 

select year from top_user_years_more_than_four_games;

 * postgresql:///games
3 rows affected.

[(1998,), (2008,), (2002,)]

we've got three years that both users and critics agreed were in the top ten! 

There are many other ways of measuring what the best years for video games are, but let's stick with these years for now. 

We know that critics and players liked these years, but what about video game makers? 

Were sales good? Let's find out.

This time, we haven't the results from the previous task in a table. 

Instead, we'll use the query from the previous task as a subquery in this one! 
This is a great skill to have, as we don't always have write permissions on the database we are querying.

In [24]:
%%sql 


select year, sum(games_sold) as total_games_sold

from game_sales

group by year

having year in (select year 
               from top_critic_years_more_than_four_games
               intersect 
               select year from top_user_years_more_than_four_games)

order by total_games_sold desc
;

 * postgresql:///games
3 rows affected.

[(2008, Decimal('175.07')),
 (1998, Decimal('101.52')),
 (2002, Decimal('58.67'))]

## The End